legend {
  color: #E91E63 !important;
  border-bottom: 2px solid #3F51B5 !important;
}

label {
  font-family: cursive !important;
}

fieldset.scheduler-border {
  border: 1px groove #9e9e9e3d !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  text-align: left !important;
  width: auto;
  padding:0 10px;
  border-bottom: none !important;
  font-family: cursive !important;
  color: #333 !important;
}

button.loadImage, button.processing {
  margin-bottom: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#selectFile {
  display: none !important;
}

#imagePlateObjects, #imageSegmentCharacters {
  width: 400px !important;
  height: 400px !important;
}

#plateText {
  color: #3F51B5 !important;
  font-size: 20px;
  font-weight: bold;
}